
body {
  background-color: #f4f7f6;
  margin: 0;
  padding-top: 60px; /* Give space for the top menu */
  * {
    font-size: 12px !important;
  }
}

.main-content {
  padding: 20px; /* More padding for better spacing */
}
.sidebar-item {
  i {
    font-size: 16px !important;
  }
  height: 40px;

  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: #8b0002;
  padding: 0px 0px 0px 10px;
  color: white !important;
  transition: background-color 0.4s ease, transform 0.4s ease;
  overflow: hidden;
  width: fit-content;
  text-decoration: none !important;
  cursor: pointer !important;
}

.sidebar-item:hover {
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  transform: translateX(0px);
}

.sidebar-text {
  display: inline-block;
  padding: 0px 5px;
  white-space: nowrap;
  max-width: 0;
  transition: max-width 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
  overflow: hidden;
  transition-delay: 0.1s;
  color: white;
}

.sidebar-item:hover .sidebar-text {
  max-width: 200px;
  opacity: 1;
}
.sidebar-item.right {
  float: right;
}

.export-right {
  float: right;
  margin-left: 10px;
  height: 30px;
}

.sidebar-item i {
  line-height: 40px;
  color: white;
}

th,
td {
  padding: 15px; /* Larger padding for table cells */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  background: #8b0002; /* Use Bootstrap primary color */
  color: white;
}

.btn-secondary,
.btn-primary {
  background-color: #8b0002; /* Use Bootstrap primary color */
  border-color: #8b0002; /* Use Bootstrap primary color */
}

.btn-secondary:hover,
.btn-primary:hover {
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

/* Top Menu adjusted for clarity and positioning */
#topMenu {
  position: fixed; /* Fixed at the top */
  top: 0; /* Align to top */
  right: 0; /* Align to right */
  z-index: 10; /* Ensure it's above other content */
  background-color: #ffffff; /* Background color */
  border-bottom: 2px solid #eee; /* Bottom border for definition */
  width: 100%; /* Full width */
  padding: 10px; /* Padding for aesthetics */
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.custom-card {
  margin-top: 20px;
  display: none;
}

.show {
  display: block !important;
}

.overlay {
  position: fixed; /* Cover the whole screen */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500; /* Below modal but above content */
  display: none; /* Initially hidden */
}

table.dataTable thead .sorting {
  background-image: url(../resources/fontawesome-free-6.5.2-web/svgs/solid/sort.svg) !important;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px 15px;
}

table.dataTable thead .sorting_asc {
  background-image: url(../resources/fontawesome-free-6.5.2-web/svgs/solid/sort-up.svg) !important;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px 15px;
}

table.dataTable thead .sorting_desc {
  background-image: url(../resources/fontawesome-free-6.5.2-web/svgs/solid/sort-down.svg) !important;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px 15px;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: lightgray;
  border-color: #d3d3d3;
}

.display-sidebar-text {
  max-width: fit-content;
  opacity: 1;

  .header-dropdown {
    margin: 0px;
    padding: 0px;
    margin-right: 3px;
    .form-control {
      height: auto !important;
      padding: 1px;
      width: 100%;
      padding-right: 3px;
      cursor: pointer;
    }
  }
}

.dropdown-toggle {
  background-clip: padding-box;
  border: 1px solid #ced4da;
  color: #495057;
  background-color: #fff;
}

#c-new-form {
  legend {
    font-size: 15px !important;
    font-weight: bold;
    width: fit-content;
  }
  .form-label {
    margin-bottom: 0px;
  }
  fieldset {
    border: solid black !important;
    height: 100%;
  }
}

.heading {
  font-size: 20px !important;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

#pdfPreviewModal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 0;
    padding-top: 10px; /* Space for close button */
    border: none;
    width: 100%;
    height: 100%;
  }

  /* The Close Button */
  .close {
    font-size: 25px !important;
    padding: 0px;
    width: 40px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 20px;
    height: 40px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #8b0002;
    color: white !important;
    overflow: hidden;
    cursor: pointer !important;
    opacity: 1 !important;
    padding-bottom: 2px;
  }
}
@keyframes blinkEffect {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #8b0002;
  }
  100% {
    border-color: transparent;
  }
}

.invalid {
  border: 2px solid #8b0002;
  animation: blinkEffect 1s linear infinite;
}

